// eslint-disable no-console
<template>
  <div>
    <button @click="handleSignIn">
      Sign in / Sign up
    </button>
  </div>
</template>

<script>
export default {
  methods: {
    async handleSignIn () {
      try {
        console.log(this)
        const code = await this.$gAuth.getAuthCode()
        await this.axios.post('auth/login', { code })

        const response = await this.axios.get('auth')

        if (response.data.access) {
          this.$router.push('/')
        } else {
          console.log('error')
        }
      } catch (e) {
        console.log(e)
      }
    }
  }
}
</script>

<style scoped lang="scss">
div {
  button {
    color: green;
  }
}
</style>
